.main-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-area > * {
  border: #6ea9d0 solid 1px;
  margin: 0.1em 0.1em;
  justify-content: flex-start;
  min-height: 25em;
}

#CueBox {
  width: 25%;
  max-width: 25%;
}
#CueBox > div {
  height: 100% !important;
  overflow: hidden !important;
  padding: 0 0.3em;
}
#NotesBox {
  width: 75%;
}

#NotesBox > div {
  height: 100% !important;
  overflow: hidden !important;
  padding: 0 0.3em;
}

img {
  max-width: 100%;
}

#Title {
  border: solid 1px #6ea9d0;
  margin: 0.1em 0.1em;
  justify-content: flex-start;
  margin-bottom: 0.5em;
}

#Title > div {
  height: 100% !important;
  overflow: hidden !important;
  padding: 0 0.3em;

}

#Summary {
  border: solid 1px #6ea9d0;
  margin: 0.1em 0.1em;
  justify-content: flex-start;
  min-height: 4em;
  margin-top: 0.5em;

}
#Summary > div {
  height: 100% !important;
  overflow: hidden !important;
  padding: 0 0.3em;

}
Body {
  font-family: Arial, Helvetica, sans-serif;
}

.captureArea
{
  padding: 1.2em;
}

.button-1 {
  background-color: #315ae1;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 1.2em;
}

.button-1:hover,
.button-1:focus {
  background-color: #315ae1;
}

#hints p
{
  padding-left:1.2em;
}